<div class="container">
  <a href="/commits">See my commit info for the Twitter assignment!</a><br>
  <a href="/avatars">See pictures of all Martino's followers!</a><br>
  <a href="/gists">See Fabian's public gists!</a><br>
</div>
